<div ng-if='!items'>
  <h2>There aren't any items for sale right now!</h2>
</div>
<div ng-if='items'>
  <div class="form-group input-group">
    <input type="text" class="form-control" id="search" ng-model="search" placeholder="Filter Items for Sale">
  </div>
  <div ng-if='search'>
    <content ng-repeat='item in items | filter: search track by item._id'>
      <h2><a ng-href="/items/{{item._id}}">{{item.name}}</a></h2>
      <img ng-src="{{item.photo}}">
      <a href="/checkout">Purchase!</a>
    </content>
  </div>
  <div ng-if='!search'>
    <content ng-repeat='item in items track by item._id'>
      <h2><a ng-href="/items/{{item._id}}">{{item.name}}</a></h2>
      <img ng-src="{{item.photo}}">
      <a href="/checkout">Purchase!</a>
    </content>
  </div>
</div>