<form>
  <div class="form-group">
    <label>Product Name:</label>
    <input ng-model='item.name' class="form-control" type="text" name="productName">
  </div>
  <div class="form-group">
    <label>Photo Link:</label>
    <input ng-model='item.photo' class="form-control" type="url" name="photoLink">
  </div>
  <div class="form-group">
    <label>Price:</label>
    <input ng-model='item.price' class="form-control" type="text" name="price">
  </div>
  <div class="form-group">
    <label>Condition:</label>
    <select ng-model='condition' class="form-control">
      <option>New</option>
      <option>Used-Like New</option>
      <option>Used-Good</option>
      <option>Used-Fair</option>
      <option>Collectible</option>
    </select>
  </div>
  <div class="form-group">
    <label>Who was this item sized for?</label>
    <select ng-model='species' class="form-control">
      <option value="child">Children</option>
      <option value="cat">Cat</option>
      <option value="dog">Dog</option>
    </select>
  </div>
  <div class="form-group">
    <label> What size is it?</label>
    <select ng-model="item.size" class="form-control">
      <option value="xs">XS</option>
      <option value="s">S</option>
      <option value="m">M</option>
      <option value="l">L</option>
      <option value="xl">XL</option>
      <option value="xxl">XXL</option>
    </select>
  </div>
  <button type="submit" class="btn">Create Item Posting</button>
</form>